cache:
  yarn: true
  directories:
    - "$HOME/.yarn-cache"
    - node_modules
    - packages/mobile-app/node_modules
    - packages/mobile-ui/node_modules
matrix:
  include:
    - stage: Testing
      language: swift
      os: osx
      osx_image: xcode11.1
      # if: branch = master AND commit_message !~ /(no-deploy)/
      if: commit_message !~ /(no-deploy)/
      env:
        - NODE_VERSION=stable
      node_js: false
      before_install:
        - nvm install 10
        - node --version
        - npm install -g yarn
        - yarn -version
      install:
        - yarn
        - yarn pods
        - brew tap wix/brew
        - brew install applesimutils
        - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.2/install.sh | bash
        - export NVM_DIR="$HOME/.nvm" && [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
        - nvm install $NODE_VERSION
        - nvm use $NODE_VERSION
        - nvm alias default $NODE_VERSION
        - npm install -g react-native-cli
        - npm install -g detox-cli
        - cd packages/mobile-app/ios
        - bundle install
        - cd $TRAVIS_BUILD_DIR
      script:
        - cd packages/mobile-app/ios
        - bundle exec fastlane ios install_certificates
        - cd ..
        - detox build --configuration ios.sim.debug
        - detox test --configuration ios.sim.debug --cleanup

    - stage: Deploy
      language: swift
      os: osx
      osx_image: xcode11.1
      # if: branch = master AND commit_message !~ /(no-deploy)/
      if: commit_message !~ /(no-deploy)/
      node_js: false
      before_install:
        - nvm install 10
        - node --version
        - npm install -g yarn
        - yarn -version
        - gem install fastlane
        - echo -e "machine github.com\n  login $GITHUB_API_TOKEN" >> ~/.netrc
      install:
        - yarn
        - yarn pods
        - cd packages/mobile-app/ios
        - bundle install
        - cd $TRAVIS_BUILD_DIR
      script:
        - cd packages/mobile-app/ios
        - bundle exec fastlane ios beta
        - cd $TRAVIS_BUILD_DIR
      after_success:
        - ".travis/push.sh"

    # Android
    - language: android
      if: branch = master AND commit_message !~ /(no-deploy)/
      os: linux
      jdk: oraclejdk8
      android:
        components:
          - platform-tools
          - tools
          - build-tools-26.0.3
          - build-tools-28.0.3
          - android-21
          - android-26
          - android-28
          - sys-img-armeabi-v7a-android-21
          - extra-android-m2repository
          - extra-google-m2repository
          - extra-google-google_play_services
      node_js: false
      before_install:
        - echo $SECURE_PASSWORD | gpg --passphrase-fd 0 packages/mobile-app/android/my-release-key.keystore.gpg
        - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo
          sysctl -p
        - nvm install 10
        - node --version
        - npm install -g yarn
        - yarn -version
        - gem install fastlane
        - echo -e "machine github.com\n  login $GITHUB_API_TOKEN" >> ~/.netrc
      install:
        - yarn
        - cd packages/mobile-app/android
        - bundle install
        - cd $TRAVIS_BUILD_DIR
      script:
        - cd packages/mobile-app/android
        - bundle exec fastlane android internal
        - cd $TRAVIS_BUILD_DIR
      after_success:
        - ".travis/push.sh"
